body {
  background-color: #556270;
  display: block;
}
html, body, input, select, textarea, button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.pagination .previous_page, .pagination .next_page, .pagination em {
  font-weight: bold;
}
a {
  text-decoration:none;
  color: #556270;
}
th a {
  color: #000;
  padding-left: 6px;
  padding-left: 18px;
  margin-left: -6px;
  background: url("/images/bg.gif") left center no-repeat;
}
th a.asc {
  background: url("/images/asc.gif") left center no-repeat;
}
th a.desc {
  background: url("/images/desc.gif") left center no-repeat;
}
.pagination em {
  color: #000;
  font-style: normal;
}
.pagination a:hover {
  background-color: #3884CF;
  color: #FFF;
  font-weight: bold;
}
.pagination a, .pagination span, .pagination em {
  padding: 2px 4px;
  margin: 0;
}
.pagination .disabled {
  display: none;
}
.pagination {
  color: #556270;
  float: right;
  clear: both;
}
h2 {
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#content {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
#main_body {
  background-color: #fff;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
}
#login_form {
  background: -webkit-gradient(linear,left top, left bottom, from(#FFF), to(#909090));
  background: -moz-linear-gradient(top, #FFF, #909090);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr="#FFFFFF", EndColorStr="#909090", GradientType=0);
  width: 360px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 10px;
  margin-left: 300px;
  margin-top: 240px;
  text-align: left;
}
#tabs {
  margin-top: 10px;
}
#tabs a.button {
  font-weight: bold;
  padding: 6px 25px;
  font-size: 13px;
  text-shadow: none;
  margin: 0;
}
#logout_link {
  float: right;
  margin-top: 10px;
  margin-right: 6px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
label {
  font-weight: bold;
  width: 70px;
  float: left;
  padding: 10px;
  line-height: 14px;
  margin-top: -4px;
}
input.input_text {
  width: 200px;
  float: right;
}

input {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: white;
  border: solid 1px #A0A0A0;
  color: #555;
  padding: 5px;
  font-size: 13px;
}

.clear {
  clear: both;
}
.submit_button {
  padding-top: 10px;
}
#flash_info {
  background-color: #C7F464;
}
#flash_error {
  background-color: #C44D58;
}
.flash {
  font-weight: bold;
  padding: 7px;
  margin-bottom: 10px;
}
.submit_button {
  float: right;
}
input.button {
  font-weight: bold;
}
div.submit_button input.button {
  font-size: 12px;
}
.right {
  float: right;
  display: block;
}
#index_page {
  clear: both;
  overflow: hidden;
}
#tabs.button-group a.button {
  width: 170px;
  text-align: center;
  padding: 6px 10px;
}
.index_table {
  margin-bottom: 10px;
  width: 100%;
  border-collapse: collapse;
}
.index_table th {
  background-color: #ECECEC;
  padding: 5px;
  font-weight: bold;
}
.index_table td {
  padding: 3px 6px;
}
.index_table tr:hover {
  background-color: #3884CF;
}
.index_table tr:hover td {
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
}
.index_table th, .index_table td {
  border: 1px solid #D4D4D4;
}
.index_table th.actions {
  width: 70px;
}
#footer {
  margin: 20px 0;
}
#search_box {
  border-radius: 8px 8px 8px 8px;
  background-color: #ECECEC;
  margin-bottom: 10px;
  padding: 5px;
}
input.search_field {
  width: 90%;
}
a.search {
  display: block;
  float: right;
  margin-top: 3px;
}
@-moz-document url-prefix() {
  a.search {
    margin-top: 1px;
  }
}
div.form_field {
  margin-top: 15px;
  padding-left: 10px;
}
div.form_field input {
  height: 12px;
}
div.form_field label {
  padding: 9px;
}
.form_actions {
  margin: 20px 0 5px 100px;
}