body {
  background-color: #556270;
  display: block;
}
html, body, input, select, textarea, button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
#content {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
#login_form {
  background: -webkit-gradient(linear,left top, left bottom, from(#FFF), to(#909090));
  background: -moz-linear-gradient(top, #FFF, #909090);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr="#FFFFFF", EndColorStr="#909090", GradientType=0);
  width: 360px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 10px;
  margin-left: 300px;
  margin-top: 240px;
  text-align: left;
}
label {
  font-weight: bold;
  width: 70px;
  float: left;
  padding: 10px;
  line-height: 14px;
  margin-top: -4px;
}
input.input_text {
  width: 200px;
  float: right;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: white;
  border: solid 1px #A0A0A0;
  color: #555;
  padding: 5px;
  font-size: 13px;
}
.clear {
  clear: both;
}
.submit_button {
  padding-top: 10px;
}
*+html .submit_button {
  margin-bottom: -15px;
}
#flash_error {
  background-color: #C44D58;
  font-weight: bold;
  padding: 10px;
}
.submit_button {
  float: right;
}
.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:12px;
  font-weight:bold;
  padding:5px 10px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
}
*+html .button {
  padding:3px 6px;
}
.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}
.button:active {
  position:relative;
  top:1px;
}